.container {
  height: 100vh !important;
  width: 100vw;
}
.wrapper {
  width: 50vw;
  height: 100%;
  float: left;
}
li {
  cursor: pointer;
  color: white;
  font-size: 41px;
}
li:hover {
  text-decoration: line-through;
}
.basic {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  margin-left: 300px;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 600px;
  height: 600px;
  cursor: pointer;
}
#morpher {
  background-image: url('../img/jase.jpg');
  clip-path: polygon(23% 24%, 5% 85%, 100% 100%, 80% 0);
}
