/* .parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;

}
.scrollme{
	  margin-top:186px !important;
}
.image2 {
  position: absolute;
  top: 30px;
  left: 70px;
	  margin-top:150px;
}
#mockup{
	z-index:1;
	width: 35vw;
    min-width: 200px;
	top:0;
	margin-top: 11vw;
	bottom:0;
}
.squares {
    width: 35vw !important;
	max-width: 200% !important;
}

.tween-looper
{
  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;

  -webkit-animation: looperFrames 25s linear infinite;

  animation: looperFrames 25s linear infinite;
}

@-webkit-keyframes looperFrames
{
  0%{-webkit-transform: translateY(0px);}
  25%{-webkit-transform: translateY(18px);}
  50%{-webkit-transform: translateY(0px);}
  75%{-webkit-transform: translateY(-30px);}
  100%{-webkit-transform: translateY(0px);}
}

@keyframes looperFrames
{
  0%{transform: translateY(0px);}
  25%{transform: translateY(18px);}
  50%{transform: translateY(0px);}
  75%{transform: translateY(-19px);}
  100%{transform: translateY(0px);}
}
img.image2.square.scrollme.animateme {
	width: 47vw !important;
}
img.image1.square.scrollme.animateme {
    width: 45vw;
    margin-top: 64px!important;
}

img.image2.squares.scrollme.animateme {
    margin-top: 260px!important;
    width: 41vw!important;
}

#sticky{
  background : #EEF2F5;
  height:100vh;
	z-index:10;
}
.stickyrow{
	    position: relative;
    top: 50%;
    transform: translateY(-50%);
	max-width:80vw !Important;
}
.sectionclass{
  height : 100vh;
  background : #EEF2F5;
	z-index:9;

}
.et_pb_text_inner {
    font-size: 22px;
    line-height: 29px;
    font-weight: 400;
    color: black;
    width: 80%;
	margin-top: 25%;
	padding-left:25%;
}
/* .stickyrow div{
	    margin-right: 1.5% !important;
}
.et_pb_text_inner h1{
	    font-size: 2em;
    font-weight: 900;
}
.stick{
  position : fixed;
  top:0;
  width: 100%;
}
.noSelect{
    position: relative;
    top: 50%;
}

.boxclassname{
  border:2px solid red;
}
.text-warning-anim {
    opacity: 1;
    transform: translateY(-100vh);
    transition: opacity 1s ease-out, transform 1s;
}
.servicesclass{
	    width: 50vw !important;
	max-width: none !important;

}
#section4{
height:1px !important;
} */

.pagination {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.4em;
  z-index: 10;
}

ol, ul {
  list-style: none;
}

.pagination a {
  display: block;
  height: 20px;
  margin-bottom: 5px;
  color: white;
  position: relative;
  padding: 4px;
}

.pagination a .hover-text {
  position: absolute;
  right: 15px;
  top: 7px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px;
}

.pagination a:after {
  -webkit-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid;
  border-radius: 50%;
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  right: 4px;
  bottom: 0;
}

.et_pb_row.et_pb_row_1 {
  position: relative;
  top: 20%;
}

#logo {
  max-height: 100% !important;
  margin-top: 34px;
}

.loader {
  width: 100px;
  height: 2px;
  background: transparent;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.loader .load-line {
  background: #a3215d;
  height: 2px;
  display: block;
  width: 100%;
  transform-origin: left;
  position: absolute;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.et_pb_row_0, .et_pb_row_2 {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

body {
  overflow-y: hidden;
}

.et_pb_row_1 {
  position: fixed !important;
  padding-top: 0vh !important;
  bottom: 0px !important;
  left: 0px !important;
  right: 0px !important;
  top: auto !important;
  z-index: 999;
}

.cube-wrapper {
  transform: translateY(-36%);
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  perspective: 1000px;
}

.white-contrast {
  color: black !important;
}

.dark-contrast {
  color: white !important;
}

#top-menu li a {
  font-weight: 900;
}

.cube {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  top: 100%;
  display: block;
  width: 100%;
  height: 100%;
}

.front {
  transform: rotateY(90deg) translateZ(100px);
  background-image: linear-gradient(180deg, rgba(96, 9, 91, 0.89) 0%, rgba(96, 10, 89, 0.82) 100%), url(http://nettlnz.nz.w3pcloud.com/wp-content/uploads/2018/05/hyde-06-e1527548715902.jpg);
  background-size: contain;
}

.back {
  transform: rotateY(90deg) translateZ(100px);
  background-image: linear-gradient(180deg, rgba(96, 9, 91, 0.89) 0%, rgba(96, 10, 89, 0.82) 100%), url(http://nettlnz.nz.w3pcloud.com/wp-content/uploads/2018/05/hyde-06-e1527548715902.jpg);
  background-size: contain;
}

.right {
  transform: rotateY(90deg) translateZ(100px);
  background-image: linear-gradient(180deg, rgba(96, 9, 91, 0.89) 0%, rgba(96, 10, 89, 0.82) 100%), url(http://nettlnz.nz.w3pcloud.com/wp-content/uploads/2018/05/hyde-06-e1527548715902.jpg);
  background-size: contain;
}

.left {
  transform: rotateY(90deg) translateZ(100px);
  background-image: linear-gradient(180deg, rgba(96, 9, 91, 0.89) 0%, rgba(96, 10, 89, 0.82) 100%), url(http://nettlnz.nz.w3pcloud.com/wp-content/uploads/2018/05/hyde-06-e1527548715902.jpg);
  background-size: contain;
}

.top {
  transform: rotateY(90deg) translateZ(100px);
  background-image: linear-gradient(180deg, rgba(96, 9, 91, 0.89) 0%, rgba(96, 10, 89, 0.82) 100%), url(http://nettlnz.nz.w3pcloud.com/wp-content/uploads/2018/05/hyde-06-e1527548715902.jpg);
  background-size: contain;
}

.bottom {
  transform: rotateY(90deg) translateZ(100px);
  background-image: linear-gradient(180deg, rgba(96, 9, 91, 0.89) 0%, rgba(96, 10, 89, 0.82) 100%), url(http://nettlnz.nz.w3pcloud.com/wp-content/uploads/2018/05/hyde-06-e1527548715902.jpg);
  background-size: contain;
}

.front {
  transform: rotateY( 0deg) translateZ( 100px);
}

.back {
  transform: rotateX( 180deg) translateZ( 100px);
}

.left {
  transform: rotateY( -90deg) translateZ( 100px);
}

.right {
  transform: rotateY( 90deg) translateZ( 100px);
}

.top {
  transform: rotateX( 90deg) translateZ( 100px);
}

.bottom {
  transform: rotateX( -90deg) translateZ( 100px);
}

.pagination a.active:after {
  box-shadow: inset 0 0 0 5px;
}

.pagination a .hover-text {
  position: absolute;
  right: 15px;
  top: 7px;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px;
}

.pagination a:hover .hover-text {
  opacity: 1;
}

.pagination a:after {
  -webkit-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  width: 10px;
  height: 10px;
  display: block;
  border: 1px solid;
  border-radius: 50%;
  content: '';
  position: absolute;
  margin: auto;
  top: 0;
  right: 4px;
  bottom: 0;
}

.container {
  height: 100vh !important;
  width: 100vw;
}

.wrapper {
  width: 50vw;
  height: 100%;
  float: left;
}

body {
  background-color: #4d05e8;
}

.rightsda {
  float: right;
}

.middle {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  margin-left: -200px
}

li {
  cursor: pointer;
  color: white;
  font-size: 41px;
}

li:hover {
  text-decoration: line-through;
}

.basic {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  margin-left: 300px;
  background-position: center;
  background-size: contain;
  display: inline-block;
  width: 600px;
  height: 600px;
  cursor: pointer;
}

#seo {
  background-image: url(https://i2.wp.com/www.dotlung.com/wp-content/uploads/2018/05/universitat.jpg?resize=800%2C800);
  clip-path: polygon(100% 0, 9% 54%, 15% 93%, 100% 100%);
}

.animateseo {
  animation: seo 1s;
  animation-fill-mode: forwards;
}
.animateweb {
  animation: web 1s;
  animation-fill-mode: forwards;
}
.animatetop {
  animation: topan 1s;
  animation-fill-mode: forwards;
}

.animatedesign {
  animation: design 1s;
  animation-fill-mode: forwards;
}
body{
  transition:0.5s ease;-moz-transition:0.5s ease;-webkit-transition:0.5s ease;
}
.blue{
  background-color: white;
}
.red{
  background-color: white;
}
.yellow{
  background-color: white;
}
